<!DOCTYPE html>
<html>
<head>
<title>Hello World</title>
  <script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../static/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">    
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
 
  <div class="container">
    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="button_box">
      <button class="btn btn-primary" onclick="send_status()">Record Knock Pattern</button>
  </div>
</body>

</html>
